#contact-form-section{
	background-color: $primary-light-color;
}

.contact-form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	margin-top: 20px;
}

.text-entry{
	outline: none;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid $cyan;
	width: 100%;
}

.text-entry:focus{
	animation-name: focus-box;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes focus-box{
	0%{
		border: 2px solid $cyan;
	}
	50%{
		border: 2px solid $primary-dark-color;
	}
	100%{
		border: 2px solid $cyan;
	}
}

#commentbox{
	width: 100%;
	height: 50vh;
}

.label{
	display: block;
	padding: 10px;
	color: $primary-dark-color;
}

.text-box-container{
	grid-column: 1/3;
}
