.gallery-header{
    padding: 30px;
    background-image: url(../img/woodwork.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.gallery-container{
    background-color: $primary-light-color;
}

.gallery-img{
    width: 200px;
    height: 150px;
    margin: 5px;
}

.materialboxed {
    display: block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    -webkit-backface-visibility: hidden;
  }
  
  .materialboxed:hover:not(.active) {
    opacity: .8;
  }
  
  .materialboxed.active {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  
  #materialbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #292929;
    z-index: 1000;
    will-change: opacity;
  }
  
  .materialbox-caption {
    position: fixed;
    display: none;
    color: #fff;
    line-height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0% 15%;
    height: 50px;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
  }