$primary-light-color: rgba(216, 226, 249, 1);
$primary-dark-color: rgba(43, 46, 58, 1);
$black: rgba(9, 16, 19, 1);
$cyan: rgba(103, 155, 231, 1);
$pale-blue: rgba(172, 197, 249, 1);

$tablet-sizing: 950px;
$large-phone-sizing: 480px;
$small-phone-sizing: 380px;

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: helvetica neue, arial;

}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 60px;
}

.section-container{
	padding-top: 80px;
	padding-bottom: 80px;
}
h2{
	text-align: center;
	font-size: 2em;
	font-weight: 200;
	margin-bottom: 50px;
}

a{
	color: inherit;
	text-decoration: none;
	transition: 1s ease;
}

.CTA-btn{
	border-radius: 50px;
	transition: 0.5s ease;
	font-weight: 500;
	padding: 10px 35px;
	font-size: 1em;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;

	&:hover{
		transform: scale(1.1);
	}

}

.colored{
	color: $pale-blue;
}

.bold{
	font-weight: 400;
}


@media (max-width: $tablet-sizing){
	.container{
		padding: 20px;
	}

	.section-container{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media(max-width: $large-phone-sizing){
	.container{
		padding: 20px;
	}

	.section-container{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}