$primary-light-color: rgba(216, 226, 249, 1);
$primary-dark-color: rgba(43, 46, 58, 1);
$black: rgba(9, 16, 19, 1);
$cyan: rgba(103, 155, 231, 1);
$pale-blue: rgba(172, 197, 249, 1);

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: helvetica neue, arial;

}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 20px;
}

h2{
	font-size: 2em;
	font-weight: 400;
}

.CTA-btn{
	border-radius: 50px;
	transition: 0.5s ease;
	font-weight: 500;
	padding: 10px 35px;
	font-size: 1em;
	border: none;
	outline: none;
	cursor: pointer;

}



.CTA-btn:hover{
	transform: scale(1.1);
}

.colored{
	animation-name: textcolortransition;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;

}

.c1{
	animation-delay: 4s;
}

.c2{
	animation-delay: 5s;
}

.c3{
	animation-delay: 6s;
}
@keyframes textcolortransition{
	from{
		color: white;
	}

	to{
		color: $pale-blue;
	}
}

.bold{
	font-weight: 400;
}