//----- HEADER CONTAINERS -----//
header{
	background-color: $primary-dark-color;
	width: 100%;
	//box-shadow: 1px 1px 8px;

}

.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

//----- BRANDING AND LOGOS -----//
.branding{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	width: auto;
	align-items: center;
	*{
		font-family: Copperplate, Georgia, 'Times New Roman', Times, serif;
	}
}

.branding-text{

	.company-name{
		font-weight: 500;
		font-size: 2.1em;
		letter-spacing: 2px;
		color: $primary-light-color;
		line-height: 30px;
	}

	.company-slogan{
		font-weight: 500;
		letter-spacing: 0.015em;
		font-size: 0.97em;
		color: $primary-light-color;
		opacity: 0.5;
		display: flex;
		align-items: center;

		span{
			font-size: 8px;
		}
	}
}

.branding-logo{
	height: 50px;
}

//----- NAVIGATION MENU -----//
nav{
	width: 50%;
	display: block;
	z-index: 9;
}

nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li{
	list-style: none;
	color: white;
	font-weight: 300;
}

.active-page{
	font-weight: 400;
	color: $cyan;
}

.nav-contact-btn{
	background-color: $cyan;
	color: white;
	white-space: nowrap;
	//-- Most styles for this come from the .CTA-btn class in globals.
	&:hover{
		color: $cyan;
		background-color: white;
	}
}

#hamburger-menu{
	display: none;
	z-index: 10;
}

//----- MEDIA QUERIES -----//

@media (max-width: $tablet-sizing){
	nav{
		background-color: rgba(7, 16, 19, 0.8);
		position: absolute;
		right: 0;
		top:0;
		height: 120vh;
		overflow-x: hidden;
		width: 0;
		transition: 0.5s;
	}

	nav ul{
		flex-direction: column;
		justify-content: flex-start;
		height: 300px;
		width: 100%;
		padding: 100px 40px 40px 40px;

		li {
			font-size: 1.5em;
			line-height: 3em;
		}

		.contact-btn{
			font-size: 1.2em;
			margin-top: 50px;

		}

	}

	#hamburger-menu{
		display: block;
	}

	h1{
		font-size: 8vw;
	}

	h2{
		font-size:1.8em;
	}

	.company-name{
		font-size: 2.1em !important;
		letter-spacing: 2px;
	}

	.company-slogan{
		letter-spacing: 0.015em !important;
		font-size: 0.97em !important;
	}

	.branding-logo{
		height: 50px !important;
	}

}

@media (max-width: $large-phone-sizing){
	.company-name{
		font-size: 1.55em !important;
		line-height: 20px !important;
	}

	.company-slogan{
		letter-spacing: 0px !important;
		font-size: 0.75em !important;
	}

	#hamburger-menu{
		transform: scale(0.8);
	}

	.branding-logo{
		height: 35px !important;
	}

}

