header{
	background-color: $primary-dark-color;
	width: 100%;
	box-shadow: 1px 1px 8px;

}

.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

//--- HEADER BRANDING AND LOGOS ---//
.branding{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	width: auto;
	align-items: center;
	*{
		font-family: copperplate;
	}
	

	.branding-text{

		.company-name{
			font-weight: 500;
			font-size: 2.5em;
			color: $primary-light-color;
			line-height: 30px;
		}

		.company-slogan{
			font-weight: 500;
			font-size: 1em;
			color: $primary-light-color;
			opacity: 0.5;
			letter-spacing: 0.1em;
			display: flex;
			flex-direction: row;
			align-items: center;

			i{
				font-size: 5px;
			}

			pre{
				font-size: 10px;
			}
		}
	}

	.branding-logo{
		height: 60px;
	}
}

//--- NAVIGATION MENU ---//
nav{
	width: 50%;
	display: block;
	z-index: 9;
}

nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li{
	list-style: none;
	height: 100%;
}
a{
	color: white;
	text-decoration: none;
	font-weight: 300;
	transition: 1s ease;
	border-bottom: 1px solid transparent;
}

li a:hover{
	color: $cyan;
	border-bottom: 1px solid $cyan;
}

.active-page{
	font-weight: 400;
	color: $cyan;
}

.nav-contact-btn{

	display: block;
	white-space: nowrap;
	//-- Most styles for this come from the .CTA-btn class in globals.
}

#hamburger-menu{
	display: none;
	z-index: 10;
}


//------- FOOTER -------//

footer{
	background-color: $primary-dark-color;
	color: white;
}
.footer-container{
	padding: 30px;
	font-weight: 200;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.footer-left{
	i{
		font-size: inherit;
		color: $cyan;
		text-align: center;
		
	}
	p, a{
		letter-spacing: 1px;
	}

	a:hover{
		color: $cyan;
	}
	
	i:nth-child(1){
		font-size: 20px;
	}
	display: grid;
	grid-template-columns: 30px auto;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;


}

.footer-right{
	height: 100%;
	overflow: hidden;
	display: grid;
	align-items: center;
	justify-items: right;

	img{
		width: 100%;
		cursor: pointer;
	}

	a{
		letter-spacing: 4px;
		font-size: 12px;
	}
}


