@import "globals.scss";
@import "header.scss";
@import "showcase.scss";
@import "cards.scss";
@import "services.scss";
@import "testimonials.scss";
@import "contact.scss";

@media(max-width: 800px){
	nav{
		background-color: rgba(7, 16, 19, 0.8);
		position: absolute;
		right: 0;
		top:0;
		height: 120vh;
		overflow-x: hidden;
		width: 0;
		transition: 0.5s;
	}

	nav ul{
		flex-direction: column;
		justify-content: flex-start;
		height: 300px;
		width: 100%;
		padding: 100px 40px 40px 40px;

		li {
			font-size: 1.5em;
			line-height: 3em;
		}

		.contact-btn{
			font-size: 1.2em;
			margin-top: 50px;

		}

	}

	#hamburger-menu{
		display: block;
	}

	h1{
		font-size: 3.3em;
	}

	h2{
		font-size:1.5em !important;
	}

	.company-name{
		font-size: 2.1em !important;
		letter-spacing: 2px;
	}

	.company-slogan{
		letter-spacing: 0.065em !important;
		font-size: 0.97em !important;
	}

	.branding-logo{
		height: 50px !important;
	}

	.small-only{
		display: block;
	}

	.card-container{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr;
	}

	.card{
		display: flex;
		align-items: center;
		flex-direction: row;

		p{
			text-align: left;
		}

		h2{
			text-align: left;
			margin-top:0px;
		}
	}

	.svg-whole{
		margin-right: 30px;
	}

	.testimonial-container{
		grid-template-columns: 1fr;
}
}

@media(max-width: 450px){
	.branding{

	}
	.company-name{
		font-size: 1.5em !important;
		line-height: 20px !important;
	}

	.company-slogan{
		letter-spacing: 0px !important;
		font-size: 0.8em !important;
	}

	#hamburger-menu{
		transform: scale(0.8);
	}

	.branding-logo{
		display: none;
	}


	.showcase-text{
		background-color: transparent;
		padding:0;
		p{
			display: none;
		}
		h2{
			display: none;
		}
		.contact-btn{
			width: 100%;
		}
	}

	h1{
		font-size: 2.2em;
	}

	.contact-btn{
		margin-top: 20px;
	}
	.card{
		flex-direction: column;
		h2{
			margin-top:20px;
			text-align: center;
		}
	}
	.svg-whole{
		margin: 0;
	}

	footer *{
		font-size: 12px;
	}
	.skills-list{
		padding: 0;
	}
	.skills{
		margin: 7px;
		padding: 8px 12px;
		p{
			font-size: 0.8em;
		}

		.fas, .fab{
			font-size: 20px;
		}
	}
}

@media(max-width: 380px){
	.section-testimonials{
		padding: 50px 0;
	}

	.section-services{
		padding: 50px 0;
	}

	.card-container{
		padding: 50px 20px;
	}

	.container{
		padding: 20px;
	}

	.footer-container{
		grid-template-columns: 1fr;
	}

	.dan-logo{
		width: 50% !important;
		margin: auto;
		margin-top: 20px;
	}
}




