//----- SERVICES GLOBALS -----//

.section-services{
	background-color: rgba(42, 46, 59, 0.97);	

	h2{
		color: white;
	}
}

.skills-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 2s ease;

	.skills{
		background-color: $cyan;
		color: white;
		padding: 10px 15px;
		border-radius: 10px;
		margin: 3px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: 0.5s ease;
		&:hover{
			transform: scale(1.1);
			color: $cyan;
			background-color: white;
		}
		p{
			margin-top: 3px;
		}
		.fas{
			font-size: 26px;
		}
	}
}

@media (max-width: $tablet-sizing){

}

@media (max-width: $large-phone-sizing){
	.skills-list{
		padding: 0;
	}

	.skills{
		margin: 4px;
		padding: 8px 12px;
		p{
			font-size: 0.8em;
		}

		.fas{
			font-size: 20px;
		}
		img{
			height: 0.8em;
		}
	}
}

@media (max-width: $small-phone-sizing){
	.section-services{
		padding: 50px 0;
	}
}

