//----- SHOWCASE CONTAINERS -----//
#section-welcome{
	height: 100vh;
	box-shadow: inset 0px 0px 20px #000000;
	position: relative;
}

#slide-bgimage{
	background-image: url("../img/kitchen.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	transition: 1s ease;

	&:after{
		content: "";
		position: absolute;
		background-color: $primary-dark-color;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.6;
	}
}


.welcome-container{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;
}

//----- SHOWCASE CONTENT -----//
.showcase-titles{
	text-align: center;
	color: white;
	h1{
		font-weight: 100;
		font-size: 4em;
		animation-name: h1-anim;
		animation-duration: 1.3s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-delay: 0.2s;
		position: relative;
		opacity: 0;
		margin-bottom: 30px;
	}
	.showcase-subhead{
		font-weight: 100;
		font-size: 2em;
		animation-name: h2-anim;
		animation-delay: 1.5s;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		opacity: 0;
	}
}

@keyframes h1-anim{
	from{
		bottom: 100px;
		opacity: 0;
	}
	to{
		bottom: 0;
		opacity: 1;
	}
}

@keyframes h2-anim{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.showcase-btns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.showcase-btn{
		width: 40%;
		max-width: 300px;
		animation-name: buttons-anim;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		opacity: 0;
		position: relative;
		&:hover{
			color: white;
			background-color: $primary-dark-color;
		}
	}
	.contact-btn{
		background-color: $cyan;
		color: white;
		animation-delay: 2.5s;
	}
	.gallery-btn{
		background-color: white;
		color: $cyan;
		animation-delay: 3.5s;
	}
}

@keyframes buttons-anim{
	from{
		top: 100px;
		opacity: 0;
	}
	to{
		top: 0px;
		opacity: 1;
	}
}

//----- SHOWCASE MEDIA QUERIES -----//

@media (max-width: $tablet-sizing){
	.showcase-titles{
		h1{
			font-size: 3.4em;		
		}
		.showcase-subhead{
			font-size: 1.6em;
		}
	}
}

@media (max-width: $large-phone-sizing){
	.showcase-titles{
		h1{
			font-size: 2.7em;
		}
		.showcase-subhead{
			font-size: 1.4em;
		}
	}
	.showcase-btns{
		.CTA-btn{
			font-size: 0.8em;
			padding: 15px 10px;
		}
	}
}

@media (max-width: $small-phone-sizing){
	.showcase-titles{
		h1{
			font-size: 2.3em;
		}
		.showcase-subhead{
			font-size: 1.2em;
		}
	}
}