.welcome-container{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;

	h2{
		color: white;
		font-weight: 100;
		text-align: center;
	}

	.gallery-btn{
		background-color: white;
		color: $cyan;
	}
}

h1{
	color: white;
	font-size: 4.5em;
	font-weight: 100;
	text-align: center;
	animation-name: fade-down;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
	position: relative;
	opacity: 0;
	margin-bottom: 30px;
}

.showcase-btns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	button{
		width: 40%;
		max-width: 300px;

	}
}

.gallery-btn:hover, .contact-btn:hover{
	color: white;
	background-color: $primary-dark-color;
}

.contact-btn{
	background-color: $cyan;
	color: white;
}


#section-welcome{
	height: 100vh;

}

.section-welcome--slide{
	height: 100%;
	position: relative;
	overflow: hidden;

}

#slide-bgimage1{
	background-image: url("../img/planning.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	transition: 1s ease;
}

#slide-bgimage1:after{
	content: "";
	position: absolute;
	background-color: $primary-dark-color;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.6;
}



@keyframes fade-down{
	from{
		bottom: 100px;
		opacity: 0;
	}
	to{
		bottom: 0;
		opacity: 1;
	}
}

.showcase-text-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.showcase-text{
	animation-name: fade-up;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-delay: 2s;
	opacity: 0;
	color: white;
	padding: 30px;
	border-radius: 10px;
	background-color: rgba(117, 171, 188, 0.2);
	border: 2px solid transparent;
	transition: 2s;
	overflow: hidden;
	position: relative;
	p{
		font-size: 1em;
		font-weight: 300;
		margin: 5px 0 20px 0;
	}
}

.showcase-text-image{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.showcase-text-image::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}
#showcase-text-1{
	background-image: url('../img/bathroom.jpeg');

}

#showcase-text-2{
	background-image: url('../img/kitchen.jpeg');

}

.showcase-text:hover{
	border: 2px solid rgba(255,255,255,0.5);

}

@keyframes fade-up{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}