.section-testimonials{
	background-color: $primary-light-color;
	h2{
		color: $primary-dark-color;
		margin-bottom: 55px;
	}
 }

.testimonial-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
 .testimonial{
	border-left: 4px solid $cyan;
	margin: 0 15px;
	padding-left: 30px;
	color: $primary-dark-color;
 }

 .quote{
	font-style: italic;
	font-size: 18px;
 }

 .quote-author{
	margin-top: 20px;
	font-size: 0.9em;
	font-weight: bold;
	color: lighten($primary-dark-color, 40%);
 }



 @media(max-width: $tablet-sizing){
	.testimonial-container{
		grid-template-columns: 1fr;
	}

	.quote{
		font-size: 17px;
	 }
 }

 @media(max-width: $large-phone-sizing){
	.quote{
		font-size: 16px;
	 }
 }

 @media (max-width: $small-phone-sizing){
	.section-testimonials{
		padding: 50px 0;
	}
	.section-testimonials{
		h2{
			padding-left: 10px;
			padding-right: 10px;
		}
	 }
 }