 .section-testimonials{
	background-color: $primary-light-color;
	padding: 80px 30px;
	h2{
		color: $primary-dark-color;
		margin-bottom: 75px;
	}
 }

.testimonial-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
 .testimonial{
	border-left: 4px solid $cyan;
	margin: 30px 15px;
	padding-left: 30px;
 }

 .quote{
	font-style: italic;
	font-size: 18px;
 }

 .quote-author{
	margin-top: 20px;
	font-size: 0.9em;
	font-weight: bold;
	color: #d0d0d0
 }



 @media(max-width: $tablet-sizing){
	.testimonial-container{
		grid-template-columns: 1fr;
	}
 }

 @media (max-width: $small-phone-sizing){
	.section-testimonials{
		padding: 50px 0;
	}
 }