@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.inverted {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: 2000ms;
  transition: 2000ms;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  z-index: 1;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper--section {
  padding: 80px 20px;
}

.wrapper--blog {
  max-width: 800px;
  padding-bottom: 50px;
}

.wrapper--fixed-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.wrapper--tools {
  position: relative;
}

.wrapper--disqus {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #EC5367;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 700;
}

.main__secondary {
  background-color: #242424;
  -webkit-animation: page-fade-in 400ms ease-in-out forwards;
          animation: page-fade-in 400ms ease-in-out forwards;
  opacity: 0;
  padding-top: 100px;
  position: relative;
}

.main__secondary--Thankyou {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

input, textarea {
  width: 100%;
  display: block;
}

@-webkit-keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page__background > img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.page__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 31, 31, 0.8);
}

.page__header {
  overflow: hidden;
  position: relative;
  text-align: left;
  z-index: 1;
}

.page__header__content {
  z-index: 1;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.page__header__title {
  color: #EC5367;
  text-align: left;
  font-size: 80px;
}

.page__header__subtext {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 200;
}

.btn {
  padding: 10px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  cursor: pointer;
  outline: none;
  display: block;
  text-align: center;
}

.btn--primary {
  background-color: #EC5367;
  border: 2px solid #EC5367;
  color: white;
}

.btn--primary:hover {
  color: #EC5367;
  background-color: white;
  border: 2px solid white;
}

.btn--secondary {
  border: 2px solid #EC5367;
  color: white;
}

.btn--secondary:hover {
  background-color: #EC5367;
  color: white;
}

.btn--tertiary {
  color: #EC5367;
  padding: 10px 0;
  text-align: left;
}

.btn--tertiary:hover {
  color: white;
}

.btn__view-more {
  margin: 50px auto 0 auto;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 570px) {
  .btn__view-more {
    width: 100%;
  }
}

.breadcrumbs {
  text-align: center;
  margin: 20px;
}

.breadcrumbs__element {
  text-transform: uppercase;
  color: #1f1f1f;
}

.section-header {
  color: white;
  font-size: 30px;
  text-align: center;
  position: relative;
  z-index: 3;
  font-weight: 400;
  margin-bottom: 50px;
}

.section-header--dark {
  color: #1f1f1f;
}

.section-header::before {
  content: attr(data-heading);
  position: absolute;
  width: 100%;
  top: -20px;
  left: 50%;
  font-size: 16px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #EC5367;
}

.card {
  background-color: #242424;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid rgba(236, 83, 103, 0.2);
  z-index: 0;
}

.colored {
  color: #EC5367;
}

.thank-you__header {
  color: white;
}

.thank-you__message {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.thank-you__message > a {
  font-weight: 800;
  color: #EC5367;
}

.thank-you__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img--responsive {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header {
  position: fixed;
  background-color: #1f1f1f;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  right: 0;
  height: auto;
  color: white;
  z-index: 5;
  border-bottom: 2px solid transparent;
  -webkit-animation: header-slide 1000ms ease-in-out forwards;
          animation: header-slide 1000ms ease-in-out forwards;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.header--main {
  background-color: transparent;
}

.header--no-anim {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
}

.header--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header--fixed {
  border-bottom: 2px solid #EC5367;
  background-color: #1f1f1f;
  z-index: 20;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__branding__text {
  font-size: 22px;
  font-weight: 300;
  margin-left: 15px;
  color: white !important;
}

.header__branding__text > span {
  color: #EC5367 !important;
  font-size: 20px;
  display: block;
  line-height: 20px;
}

.header__branding:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.header__logo {
  height: 60px;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__logo--small {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav__item {
  padding: 10px 10px;
  display: inline-block;
  margin-right: 40px;
}

.nav__item--current {
  border-top: 2px solid #EC5367;
}

@media (max-width: 950px) {
  .nav__item--current {
    border-top: none;
    background-color: #EC5367;
  }
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__item:hover {
  color: #EC5367;
}

@media (max-width: 950px) {
  .nav {
    position: fixed;
    top: 100%;
    right: 0;
    left: 0;
    background-color: rgba(31, 31, 31, 0.8);
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 400ms;
    transition: 400ms;
    z-index: 15;
  }
  .nav__item {
    display: block;
    text-align: center;
    margin-right: 0;
    opacity: 0;
  }
  .nav__item--active {
    opacity: 1;
  }
  .nav--active {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .nav--fixed {
    border-top: 2px solid #EC5367;
  }
}

.hamburger {
  display: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (max-width: 950px) {
  .hamburger {
    display: block;
  }
}

@-webkit-keyframes header-slide {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header-slide {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #1f1f1f;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 570px) {
  .hero {
    height: initial;
    min-height: 70vh;
  }
}

.hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  height: 200px;
  width: 200px;
  -webkit-animation: logo-spin 2.5s 1 forwards;
          animation: logo-spin 2.5s 1 forwards;
  -webkit-animation-timing-function: cubic-bezier(0.75, -0.3, 0.71, 1.07);
          animation-timing-function: cubic-bezier(0.75, -0.3, 0.71, 1.07);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

.hero__logo--left {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  -webkit-animation: logo-left 1s 1 forwards;
          animation: logo-left 1s 1 forwards;
  -webkit-animation-timing-function: cubic-bezier(0.75, -0.1, 0.71, 1.07);
          animation-timing-function: cubic-bezier(0.75, -0.1, 0.71, 1.07);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.hero__logo--right {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  -webkit-animation: logo-right 1s 1 forwards;
          animation: logo-right 1s 1 forwards;
  -webkit-animation-timing-function: cubic-bezier(0.75, -0.1, 0.71, 1.07);
          animation-timing-function: cubic-bezier(0.75, -0.1, 0.71, 1.07);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
}

.hero__title {
  letter-spacing: 8px;
  -webkit-animation: title-fade 1s ease-in-out forwards 1;
          animation: title-fade 1s ease-in-out forwards 1;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
  opacity: 0;
  width: 100%;
}

.hero__subtext {
  letter-spacing: 7px;
  font-size: 30px;
  color: #EC5367;
  margin-top: -60px;
  -webkit-animation: subtext-fade 0.5s 1 forwards ease-in-out;
          animation: subtext-fade 0.5s 1 forwards ease-in-out;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  opacity: 0;
  position: relative;
}

.hero__subtext::after {
  position: absolute;
  content: "";
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: rgba(236, 83, 103, 0.4);
}

.hero__icon {
  display: block;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 40px;
  color: white;
  opacity: 0;
  -webkit-animation: icon-reveal 4s ease-in-out forwards;
          animation: icon-reveal 4s ease-in-out forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.hero__bg {
  position: absolute;
  opacity: 0.03;
}

.hero__bg--right {
  right: 0%;
  bottom: 0%;
  -webkit-transform: scale(0.4) translate(30%, 30%);
          transform: scale(0.4) translate(30%, 30%);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.hero__bg--left {
  top: 0%;
  left: 0%;
  -webkit-transform: translate(-20%, -20%) scale(0.9) rotate(0deg);
          transform: translate(-20%, -20%) scale(0.9) rotate(0deg);
}

.lights {
  position: fixed;
  z-index: 100;
  background-color: #1f1f1f;
  bottom: 20px;
  left: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  color: yellow;
  cursor: pointer;
}

.lights__icon {
  margin: 10px;
  font-size: 30px;
}

.lights__text {
  margin: 10px;
}

@-webkit-keyframes title-fade {
  0% {
    opacity: 0;
  }
  50% {
    letter-spacing: 15px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-fade {
  0% {
    opacity: 0;
  }
  50% {
    letter-spacing: 15px;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes subtext-fade {
  0% {
    opacity: 0;
    margin-top: -60px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes subtext-fade {
  0% {
    opacity: 0;
    margin-top: -60px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes logo-spin {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes logo-spin {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes logo-left {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-600%, -50%);
            transform: translate(-600%, -50%);
  }
}

@keyframes logo-left {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-600%, -50%);
            transform: translate(-600%, -50%);
  }
}

@-webkit-keyframes logo-right {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500%, -50%);
            transform: translate(500%, -50%);
  }
}

@keyframes logo-right {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500%, -50%);
            transform: translate(500%, -50%);
  }
}

@-webkit-keyframes icon-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes icon-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.fp-about {
  background: #242424;
  color: rgba(255, 255, 255, 0.7);
}

.fp-about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 40px;
}

@media (max-width: 950px) {
  .fp-about__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.fp-about__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 400px;
  height: 100%;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

@media (max-width: 950px) {
  .fp-about__img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.fp-about__title {
  color: white;
  font-size: 23px;
}

@media (max-width: 950px) {
  .fp-about__title {
    margin-top: 20px;
  }
  .fp-about__title:first-of-type {
    margin-top: 0;
  }
}

.blog__featured-list__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 950px) {
  .blog__featured-list__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.blog__hero-post {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  position: relative;
  height: 350px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog__hero-post__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.blog__hero-post__overlay {
  background-color: rgba(236, 83, 103, 0.4);
  padding: 30px;
}

.blog__hero-post__title {
  font-size: 45px;
  color: white;
}

.blog__hero-post__description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 950px) {
  .blog__hero-post {
    grid-column: initial;
    height: auto;
  }
}

.blog__featured-post {
  background-color: #1f1f1f;
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.blog__featured-post:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.blog__list {
  margin-top: 40px;
}

.blog__post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 1fr;
      grid-template-columns: 350px 1fr;
  list-style: none;
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 0;
}

@media (max-width: 950px) {
  .blog__post {
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
  }
}

@media (max-width: 570px) {
  .blog__post {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.blog__postDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
}

@media (max-width: 570px) {
  .blog__postDetails {
    padding: 20px 0 0 0;
  }
}

.blog__postImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 570px) {
  .blog__postImg {
    height: 200px;
  }
}

.blog__postMeta {
  color: grey;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 950px) {
  .blog__postMeta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__postMeta-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  font-size: 15px;
}

.blog__postMeta-icon {
  display: block;
  margin-right: 10px;
  font-size: 18px;
  width: 18px;
  color: #EC5367;
}

.blog__postBtn {
  padding: 0;
  display: inline-block;
  margin-bottom: 15px;
  line-height: 30px;
}

.blog__divider {
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: rgba(236, 83, 103, 0.2);
}

.fp-blog {
  background-color: #242424;
}

.fp-blog__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 950px) {
  .fp-blog__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .fp-blog__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.fp-blog__card {
  background-color: #1f1f1f;
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.fp-blog__card:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

@media (min-width: 950px) {
  .fp-blog__card:last-of-type {
    display: none;
  }
}

@media (max-width: 570px) {
  .fp-blog__card:last-of-type {
    display: none;
  }
}

.fp-blog__img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.fp-blog__details {
  padding: 15px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.fp-blog__meta {
  text-transform: uppercase;
  color: grey;
  font-size: 12px;
}

.fp-blog__title {
  font-size: 25px;
  border-bottom: 2px solid rgba(236, 83, 103, 0.4);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.fp-blog__description {
  color: rgba(255, 255, 255, 0.7);
}

.fp-blog__btn {
  margin-top: 10px;
  text-align: left;
  padding: 0;
}

.fp-blog__btn:hover {
  color: white;
}

.post__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.post__background > img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.post__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(236, 83, 103, 0.8);
}

.post__header {
  position: relative;
}

.post__header h1 {
  color: white;
  margin-bottom: 50px;
}

.post__header__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.post__info__entry {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__info__entry:last-of-type {
  margin-right: 0;
}

.post__info__icon {
  font-size: 22px;
  color: white;
  margin-right: 15px;
}

@media (max-width: 950px) {
  .post__info__icon {
    margin-right: 0;
  }
}

@media (max-width: 950px) {
  .post__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post__article {
  color: black;
  font-size: 18px;
}

.post__article > p {
  line-height: 35px;
}

.post__article > h2 {
  margin-top: 30px;
}

.post__share-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.post__footer {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 30px;
}

.post__footer__img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.post__footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
}

.post__footer__intro {
  text-transform: uppercase;
  color: #1f1f1f;
  font-size: 12px;
}

.post__footer__name {
  font-size: 25px;
  color: #EC5367;
}

.post__footer__about {
  color: grey;
}

.post__footer__social {
  margin-top: 10px;
}

h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: 400;
}

p:last-of-type {
  margin-bottom: 0;
}

ul {
  margin-bottom: 15px;
}

li {
  list-style-type: inside;
  margin-bottom: 10px;
  margin-left: 40px;
}

li:last-of-type {
  margin-bottom: 0;
}

.portfolio__header__content {
  color: #1f1f1f;
  z-index: 1;
  position: relative;
}

.fp-portfolio {
  background-color: #1f1f1f;
}

.fp-portfolio__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 570px) {
  .fp-portfolio__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.fp-portfolio__entry {
  position: relative;
  overflow: hidden;
  height: 260px;
}

.fp-portfolio__entry:hover .fp-portfolio__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fp-portfolio__entry:hover .fp-portfolio__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fp-portfolio__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.fp-portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(36, 36, 36, 0.7);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.fp-portfolio__title {
  font-size: 25px;
}

.fp-portfolio__description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.fp-portfolio__btn {
  margin-top: 10px;
}

.services {
  background: #1f1f1f;
}

.services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (max-width: 950px) {
  .services__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.services__card {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 950px) {
  .services__card {
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  .services__card::after {
    content: initial;
  }
}

.services__icon {
  height: 90px;
  fill: #EC5367;
}

.services__name {
  margin-bottom: 10px;
  color: white;
}

.services__description {
  color: rgba(255, 255, 255, 0.7);
}

.tools {
  background-color: #242424;
}

.tools__content {
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tools__icon {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: calc(100%/7);
  min-width: 100px;
  position: relative;
  -webkit-transition: 250ms;
  transition: 250ms;
  padding: 10px;
}

.tools__icon:hover {
  color: #EC5367;
  -webkit-transform: translateY(-10%) scale(1.1);
          transform: translateY(-10%) scale(1.1);
}

.tools__icon:hover .tools__expansion {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.tools__expansion {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  position: absolute;
  font-size: 20px;
  font-family: "Poppins", open-sans;
  font-weight: 700;
  padding: 10px;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) scale(0.1);
          transform: translate(-50%, 50%) scale(0.1);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.tools__background {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 90px;
  z-index: -1;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.01);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimonials__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 700px) {
  .testimonials__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 80px;
    margin-top: 20px;
  }
}

.testimonials__card {
  background-color: #242424;
  text-align: center;
  padding: 30px;
  -webkit-transition: 250ms;
  transition: 250ms;
  position: relative;
}

.testimonials__card:hover {
  background-color: #EC5367;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.testimonials__card:hover .testimonials__paragraph {
  color: white;
}

.testimonials__card:hover .testimonials__bg {
  color: white;
  z-index: 20;
}

.testimonials__card:hover .testimonials__bg--top {
  top: -50px;
}

.testimonials__card:hover .testimonials__bg--bottom {
  bottom: -50px;
}

.testimonials__card:hover .testimonials__website {
  color: rgba(31, 31, 31, 0.8);
}

.testimonials__paragraph {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 15;
}

.testimonials__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  z-index: 15;
}

.testimonials__image {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #EC5367;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.testimonials__name {
  font-size: 22px;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
}

.testimonials__website {
  color: grey;
  position: relative;
  z-index: 10;
}

.testimonials__icon {
  color: #EC5367;
}

.testimonials__icon--start {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials__bg {
  position: absolute;
  color: rgba(236, 83, 103, 0.4);
  font-size: 100px !important;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.testimonials__bg--top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 90px;
  left: 2%;
}

.testimonials__bg--bottom {
  bottom: 0px;
  right: 2%;
}

.footer {
  background-color: #EC5367;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "sitemap social other" "bottom bottom bottom";
}

@media (max-width: 950px) {
  .footer__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "";
  }
}

.footer__credits {
  font-size: 12px;
  text-align: center;
}

.footer__social {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: social;
  text-align: center;
}

.footer__social-icon {
  font-size: 40px;
  margin: 20px 0px;
  -webkit-transition: 250ms;
  transition: 250ms;
  padding: 20px 10px;
}

.footer__social-icon:hover {
  color: white;
  -webkit-animation-name: animate-icon;
          animation-name: animate-icon;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.sitemap > h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sitemap__entry {
  list-style: none;
  margin-left: 0;
  margin-bottom: 5px;
}

.sitemap__entry > a:hover {
  color: white;
}

.mailing {
  border-top: 2px solid #EC5367;
  background-color: #1f1f1f;
  color: white;
}

.mailing__content {
  width: 100%;
}

.mailing__subhead {
  text-align: center;
  margin-bottom: 30px;
}

.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 570px) {
  .mailing__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mailing__input {
  border: none;
  display: block;
  color: white;
  background-color: #242424;
  padding: 15px;
  font-size: 18px;
  width: 550px;
  max-width: 100%;
}

.mailing__input:focus {
  outline: none !important;
  -webkit-box-shadow: inset 0 0 4px #EC5367;
          box-shadow: inset 0 0 4px #EC5367;
}

.mailing__input:focus::-webkit-input-placeholder {
  color: rgba(236, 83, 103, 0.8);
}

.mailing__input:focus:-ms-input-placeholder {
  color: rgba(236, 83, 103, 0.8);
}

.mailing__input:focus::-ms-input-placeholder {
  color: rgba(236, 83, 103, 0.8);
}

.mailing__input:focus::placeholder {
  color: rgba(236, 83, 103, 0.8);
}

@media (max-width: 570px) {
  .mailing__input {
    margin-bottom: 10px;
  }
}

.mailing__btn {
  font-size: 16px;
  padding: 14px 30px;
}

.mailing__note {
  font-size: 14px;
}

@-webkit-keyframes animate-icon {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(10deg) scale(1.2);
            transform: rotate(10deg) scale(1.2);
  }
  75% {
    -webkit-transform: rotate(-10deg) scale(1.2);
            transform: rotate(-10deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animate-icon {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(10deg) scale(1.2);
            transform: rotate(10deg) scale(1.2);
  }
  75% {
    -webkit-transform: rotate(-10deg) scale(1.2);
            transform: rotate(-10deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
