    <div class="mailing">
        <div class="wrapper wrapper--section">
            <h2 class = "mailing__subhead">Like what you see? Keep updated with my latest posts.</h2>
            <div class="mailing__content">
                <script type="text/javascript">var submitted=false;</script>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location = '{{site.url}}/thank-you';}"></iframe>
               
                <form class = "mailing__form" action="https://docs.google.com/forms/d/e/1FAIpQLSeuHXjqbf8hQeKVrFit-LpFEzVDeRBE_Bm3WPYcVaTKjUR3MA/formResponse" method="post" target = "hidden_iframe" onsubmit = "submitted=true">
                    <input type='email' class = "mailing__input" name='emailAddress' placeholder = "e.g. johnsmith@gmail.com" required/>
                    <button type='submit' class = "mailing__btn btn btn--primary" value="Send">Count me in!</button>
                </form>

            </div>
        </div>
    </div>
    <footer class="footer">
        <img class = "hero__bg hero__bg--right" src="{{ "assets/icons/mylogo.svg" | absolute_url }}" alt="">
        <img class = "hero__bg hero__bg--left" src="{{ "assets/icons/mylogo.svg" | absolute_url }}" alt="">
        <div class="wrapper">
            <div class="footer__content">
                <div class="footer__branding">
                    <a href = "/" class="header__branding footer__title">
                        <img class = "header__logo" src="{{ "/assets/icons/mylogo_full.png" | absolute_url }}" alt="">
                        <div class="header__branding__text">
                            Daniel Cornock<span>Web Developer</span>
                        </div>
                    </a>
                    <div class="footer__branding-text">
                        I design, create and implement beautiful, functional websites for your every need. Contact me using any of the methods here, or read more on my <a class = "footer__branding__link" href="{{site.url}}/blog">blog</a>.
                    </div>  
                </div>
                <div class="sitemap">
                    <h3 class = "footer__title">Links</h3>
                    <ul class="sitemap__list">
                        <li class="sitemap__entry"><a href = "#">About Me</a></li>
                        <li class="sitemap__entry"><a href = "#">Credits</a></li>
                        <li class="sitemap__entry"><a href = "#">Contact Me</a></li>
                        <li class="sitemap__entry"><a href = "#">Site Map</a></li>
                    </ul>
                </div>
                <div class="resources">
                    <h3 class = "footer__title">Resources</h3>
                    <ul class="sitemap__list">
                        <li class="sitemap__entry"><a href = "#">Blog</a></li>
                        <li class="sitemap__entry"><a href = "#">Tutorials</a></li>
                        <li class="sitemap__entry"><a href = "#">My Work</a></li>
                        <li class="sitemap__entry"><a href = "#">Free Resources</a></li>
                    </ul>
                </div>
                <div class="footer__social">
                    <h3 class = "footer__title">Social</h3>
                    <a href = "#" class = "footer__social-entry"><i class="footer__social-icon fab fa-linkedin-in"></i>LinkedIn</a>
                    <a href = "#" class = "footer__social-entry"><i class="footer__social-icon fab fa-twitter"></i>Twitter</a>
                    <a href = "#" class = "footer__social-entry"><i class="footer__social-icon fab fa-github"></i>Github</a>    
                </div>
                
            </div>
            <div class="footer__other">

            </div>
            <div class="footer__credits">
                SVG icons in SERVICES designed by Andi Nur Abdillah, Creative Mania & LAFS from the Noun Project.
                <br>&copy; Daniel Cornock 2019
            </div>
        </div>
    </footer>
    <script src = "{{site.url}}/js/script.js" ></script>
</body>

</html>