<div class="blog-header {% if page.layout == 'post' %} hide-on-mobile {% endif %}">
    <div class="wrapper wrapper--fixed-header">
        <div class="blog-header__content">
            <div class="blog-header__categories">
                {% for node in site.categoryList %}
                    <a href = "{{site.url}}/blog/{{node}}/" class="blog-header__category">{{node}}</a>
                {% endfor %}
            </div>
            <div class = "blog-header__search-container">
                <input type="text" class = "blog-header__search blog-header__search" placeholder="Search Not Active">
                <i class="blog-header__search-icon fas fa-search"></i>
            </div>
            
        </div>
    </div>
</div>

