<div class="blog-header {% if page.layout == 'post' %} hide-on-mobile {% endif %}">
    <div class="wrapper wrapper--fixed-header">
        <div class="blog-header__content">
            <div class="blog-header__categories">
                <a href = "#" class="blog-header__category">Discussion</a>
                <a href = "#" class="blog-header__category">Tutorials</a>
                <a href = "#" class="blog-header__category">My Work</a>
            </div>
            <div class = "blog-header__search-container">
                <input type="text" class = "blog-header__search blog-header__search" placeholder="Search Blog">
                <i class="blog-header__search-icon fas fa-search"></i>
            </div>
            
        </div>
    </div>
</div>

