<div class="blog-header {% if page.layout == 'post' %} hide-on-mobile {% endif %}">
    <div class="wrapper wrapper--fixed-header">
        <div class="blog-header__content">
            <div class="blog-header__categories">
                {% for node in site.categoryList %}
                    <a href = "{{site.url}}/blog/{{node}}/" class="blog-header__category">{{node}}</a>
                {% endfor %}
            </div>
            <div class = "blog-header__search-container">
                <!-- <input type="text" class = "blog-header__search blog-header__search" placeholder="Search Blog"> -->
                <script>
                        (function() {
                          var cx = '001785196721739134647:0kmj5vtxsvg';
                          var gcse = document.createElement('script');
                          gcse.type = 'text/javascript';
                          gcse.async = true;
                          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                          var s = document.getElementsByTagName('script')[0];
                          s.parentNode.insertBefore(gcse, s);
                        })();
                      </script>
                      <gcse:search></gcse:search>
                <i class="blog-header__search-icon fas fa-search"></i>
            </div>
            
        </div>
    </div>
</div>

