<footer class = "post__footer">
    <img class = "post__footer__img" src="{{ "assets/img/static/headshot.jpg" | absolute_url }}" alt="Daniel Cornock Avatar">
    <div class="post__footer__details">
        <div class="post__footer__intro">Meet the author...</div>
        <div class="post__footer__name">Daniel Cornock</div>
        <div class="post__footer__about">Front end developer specialising in HTML, CSS, Javascript and Angular with a keen interest in UX/UI design.</div>
        <div class="post__footer__social">
            <a href="https://twitter.com/danielcornock?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-via="danielcornock" data-show-count="true">Follow @danielcornock</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</footer>