body, html {
    font-family: 'Poppins', sans-serif;
    background-color: $black;
}

html{
    scroll-behavior: smooth;
}

.inverted{
    filter: invert(100%);
    transition: 2000ms;
}

body{
    overflow-x: hidden;
    width: 100vw;
}



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    z-index: 1;
    max-width: 1200px;
    padding: 20px;
    width: 100%;
    margin: auto;
    transition: 1s;


    &--section{
        padding: 80px 20px;
    }

    &--blog{
        max-width: 800px;
        padding-bottom: 50px;
    }

    &--fixed-header{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &--tools{
        position: relative;
    }

    &--disqus{
        display: block;
    }
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;

    &:hover{
        color: $pink;
    }
}

h1{
    text-align: center;
    font-size: 50px;
    color: $white;
    font-weight: 700;
}



.main__secondary{
    background-color: $grey;
    animation: page-fade-in 400ms ease-in-out forwards;
    opacity: 0;
    padding-top: 100px;
    position: relative;

    &--Thankyou{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    &--post{
        background-color: $white;
    }
}

.main--blog{
    padding-top: 156px;
}

input,textarea {
    width:100%;
    display:block
}

@keyframes page-fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}