body, html {
    font-family: 'Poppins', sans-serif;
    background-color: $black;
}

html{
    scroll-behavior: smooth;
}

.inverted{
    filter: invert(100%);
    // transition: 2000ms;
}

body{
    overflow-x: hidden;
    width: 100vw;
}

p{
    margin-bottom: 15px;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;

    @media (max-width: $large-phone-sizing){
        font-size: 18px;
    }
    

    &:last-of-type{
        margin-bottom: 0;
    }
}

h2{
    font-size: 26px;
    margin-bottom: 5px;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    z-index: 1;
    max-width: 1200px;
    padding: 20px 50px;;
    width: 100%;
    margin: auto;
    transition: 1s;
    position: relative;
    height: 100%;

    @media (max-width: $large-phone-sizing){
        padding:20px;
    }


    &--section{
        padding: 80px 50px;
        @media (max-width: $large-phone-sizing){
            padding:80px 20px;
        }
    }

    &--blog{
        max-width: 740px;
        margin: auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px;
    }

    &--fixed-header{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &--tools{
        position: relative;
    }

    &--disqus{
        display: block;
    }
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;

    &:hover{
        color: $pink;
    }
}

h1{
    font-size: 50px;
    color: $white;
    font-weight: 700;
}

.hide-on-mobile{
    @media (max-width: $large-phone-sizing){
        display: none;
    }
}

.main__secondary{
    background-color: $black;
    animation: page-fade-in 400ms ease-in-out forwards;
    opacity: 0;
    padding-top: 100px;
    position: relative;

    &--Thankyou{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    &--post{
        padding-top: 102px;
        background-color: $white;
    }
    &--blog{
        padding-top: 102px;
    }
}

.main--blog{
    padding-top: 156px;
}

input,textarea {
    width:100%;
    display:block
}

@keyframes page-fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}