.blog-posts{
    &--featured{
        display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            @media (max-width: $tablet-sizing){
                grid-template-columns: 1fr;
            }
    }

    &--horizontal{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $tablet-sizing){
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 640px){
            grid-template-columns: 1fr;
        }
    }

    &--vertical{
    }
}

.blog-entry{
    &--hero{
        grid-column: 1/4;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        &__title{
            font-size: 45px;
            color: $white;
            background-color: $grey;
        }

        &__description{
            font-size: 22px;
            color: $grey-on-black;
            background-color: $grey;
        }

        @media (max-width: $tablet-sizing){
            grid-column: initial;
            height: auto;
        }

    }

    &--tall{
        transition: 250ms;

        &__img{
            height: 200px;
        }

        &__details{
            padding: 15px 30px 30px 30px;
            height: 100%;
        }

        &__title{
            font-size: 15px;
            border-bottom: 2px solid rgba($pink, 0.4);
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        &__description{
            color: $grey-on-black;
        }

        &__btn{
            margin-top: auto;
        }

        &:hover{
            transform: translateY(-5%);
        }
    }

    &--wide{
        display: grid;
        grid-template-columns: 350px 1fr;
        list-style: none;
        margin-bottom: 0;
        overflow: hidden;
        margin-left: 0;

        @media (max-width: $tablet-sizing){
            grid-template-columns: 200px 1fr;
        }

        @media (max-width: $large-phone-sizing){
            grid-template-columns: 1fr;
        }

        &__details{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 30px;

            @media (max-width: $large-phone-sizing){
                padding: 20px 0 0 0;
            }
        }
    }

    &__meta{
        color: grey;
        text-transform: uppercase;
        font-size: 12px;
    }

    &__divider{
        margin: 40px 0;
        border-color: rgba($pink, 0.2);
    }

    &--grey{
        background-color: $grey;
    }

    &--black{
        background-color: $black;
    }
}

.fp-blog{
    background-color: $grey;

    .blog-entry--tall{
        @media (max-width: $tablet-sizing){
            &:last-of-type{
                display: none;
            }
        }

        @media (max-width: $large-phone-sizing){
            &:last-of-type{
                display: none;
            }
        }
    }
}