.header{
    position: fixed;
    background-color: transparent;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    height: auto;
    color: $white;
    z-index: 50;
    border-bottom: 2px solid transparent;

    animation: header-slide 1000ms ease-in-out forwards;
    animation-delay: 3.3s;
    transition: 1s;

        &--no-anim{
            transform: translateY(0);
            animation: none;
        }
        &--secondary{
            border-bottom: 2px solid rgba($pink,1);
            background-color: $black;
            transform: translateY(0);
            animation: none;
            box-shadow: 0 4px 8px rgba(black,0.5);
        }
        &--fixed{
            border-bottom: 2px solid $pink;
            background-color: $black;
            
        }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__branding{
        position: relative;
        z-index: 25;
        display: flex;
        align-items: center;

        &__text{
            font-size: 22px;
            font-weight: 300;
            margin-left: 15px;
            color: $white !important;

            &>span{
                color: $pink !important;
                font-size: 20px;
                display: block;
                line-height: 20px;
                transition: 750ms;
            }
        }

        &:hover{
            transform: scale(1.02);
        }

    }

    &__logo{
        height: 60px;
        display: block;
        transition: 750ms;

        &--small{
            height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;

            @media (max-width: $large-phone-sizing){
                margin-top: 14px;
                margin-bottom: 14px;
            }
        }
    }
}

.blog-header{
    padding: 8px 0;
    background-color: $grey;
    position: relative;
    border-bottom: 2px solid $pink;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px){
            flex-direction: column-reverse;
        }
    }

    &__categories{
        display: flex;
        @media (max-width: 600px){
            width: 100%;
            justify-content: space-evenly;
        }
    }

    &__category{
        color: $white;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 5px 0;
        margin-right: 50px;
        text-transform: capitalize;

        &:hover{
            transform: translateY(-2%);
            color: $pink;
        }

        &:last-of-type{
            margin-right: 0;
        }

        @media (max-width: 700px){
            margin-right: 20px;
        }
        @media (max-width: 600px){
            margin-right: 0;
        }
    }

    &__search{  
        outline: none;
        font-weight: 600;
        border-radius: 20px;
        border: none;
        background-color: rgba($white,1);
        padding: 11px 20px;
        font-size: 16px;
        color: $pink;
        width: 100%;
        

        


        &-container{
            width: 300px;
            position: relative;
            @media (max-width: 600px){
                margin-top: 10px;
                width: 100%;
            }
        }

        &-icon{
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            color: $pink;
        }
        
        &::placeholder{
            color: $pink;
        }

        &:focus{
            &::placeholder{
                color: rgba($pink, 0.8);
            }
        }
    }
}

.nav{
    &__item{
        padding: 10px 10px;
        display: inline-block;
        margin-right: 40px;
        position: relative;

        &--current{
            border-top: 2px solid $pink;

            @media (max-width: $tablet-sizing){
                border-top: none;
                background-color: $pink;
                &:hover{
                    color: $white;
                }
            }
        }

        &:last-of-type{
            margin-right: 0;
        }

        &:hover{
            color: $pink;
            transform: translateY(-2%);
        }
    }

    @media (max-width: $tablet-sizing){
        position: fixed;
        top: 100%;
        right: 0;
        left: 0;
        background-color: rgba($black,0.8);

        transform: scale(1,0);
        transform-origin: top;
        transition: 400ms;
        z-index: 15;

        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            height: 100px;
            left: 0;
            width: 100%;
            background-color: $black;
        }


        &__item{
            display: block;
            text-align: center;
            margin-right: 0;
            opacity: 0;
            padding: 20px 0;
            &--active{
                opacity: 1;
            }
        }

        &--active{
            transform: scale(1,1);
        }

        &--fixed{
            border-top: 2px solid $pink;
        }
    }

    
}

.hamburger{
    display: none;
    transform: scale(0.8);
    transform-origin: right;
    position: relative;
        z-index: 25;

    @media (max-width: $tablet-sizing){
        display: block;
    }
}

@keyframes header-slide{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}