.hero{
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;

    background-color: $black;

    @media (max-width: $large-phone-sizing){
        height: initial;
        height: 90vh;
    }

    &__content{
    }

    &__logo{
        @include center-absolute;
        height: 200px;
        width: 200px;
        animation: logo-spin 2.5s 1 forwards;
        animation-timing-function: cubic-bezier(.75,-0.3,.71,1.07);
        animation-delay: 0.5s;
        opacity: 0;

        &--left{
            height: 100%;

            @include center-absolute;
            z-index:2;
            animation: logo-left 1s 1 forwards;
            animation-timing-function: cubic-bezier(.75,-0.1,.71,1.07);
            animation-delay: 2.5s;

        }

        &--right{
            height: 100%;
            @include center-absolute;
            z-index: 1;

            animation: logo-right 1s 1 forwards;
            animation-timing-function: cubic-bezier(.75,-0.1,.71,1.07);
            animation-delay: 2.5s;
        }
    }

    &__text{
        @include center-absolute;
        width: 100%;
        color: $white;

    }

    &__title{
        letter-spacing: 8px;
        animation: title-fade 1s ease-in-out forwards 1;
        animation-delay: 2.9s;
        opacity: 0;
        width: 100%;
    }

    &__subtext{
        letter-spacing: 7px;
        font-size: 30px;
        color: $pink;
        margin-top: -60px;
        animation: subtext-fade 0.5s 1 forwards ease-in-out;
        animation-delay: 3.5s;
        opacity: 0;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 2px;
            background-color: rgba($pink, 0.4);
            
        }
    }



    &__icon{
        display: block;
        padding: 20px;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        color: $white;
        opacity: 0;
        z-index: 20;

        animation: icon-reveal 4s ease-in-out forwards;
        animation-delay: 4s;
    }

    &__bg{
        position: absolute;
        opacity: 0.03;
        height: 762px;
        z-index: 0;
        &--right{  
            right: 0%;
            bottom: 0%;
            transform: scale(0.4) translate(30%, 30%);
            transform-origin: bottom right;
            

        }
        &--left{
            top: 0%;
            left: 0%;
            transform: translate(-20%, -20%) scale(0.9) rotate(0deg);

        }
    }
}


.lights{
    position: fixed;
    z-index: 100;
    background-color: rgba($white,0.1);
    top: 80vh;
    right: 0px;
    border: 2px solid $pink;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 14px;
    padding: 0 10px;
    color: $white;
    cursor: pointer;

    &:hover{
        .lights__text{
            transform: scale(1,1);
            width: 70px;
        }
    }

    &__icon{
        margin: 10px;
        font-size: 30px;
        color: $pink;
    }

    &__text{
        text-align: right;
        width: 0;
        transition: 500ms ease-in-out;
        overflow: hidden;
    }
}


@keyframes title-fade{
    0%{
        opacity: 0;
    }
    50%{
        letter-spacing: 15px;
    }
    100%{
        opacity: 1;
    }
}

@keyframes subtext-fade{
    0%{
        opacity: 0;
        margin-top: -60px;
    }

    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes logo-spin{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    40%{
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);  
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes logo-left{
    0%{
        transform: translate(-50%, -50%);
    }
    100%{
        opacity: 0;
        transform: translate(-600%, -50%);
    }
}

@keyframes logo-right{
    0%{
        transform: translate(-50%, -50%);
    }
    100%{
        opacity: 0;
        transform: translate(500%, -50%);
    }
}

@keyframes icon-reveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.7;
    }
}

