// STARTED CHANGING NOW

.post{
    background-color: #fcfcfc;

    &__content{
        &>p{
            line-height: 200%;
            color: #333;
            font-size: 18px;
        }
        .post__lead{
            line-height: 170%;
        }
    
        &>h2{
            margin-top: 30px;
            font-size: 35px;
            color: $pink;
        }
        h3, h4{
            margin-top: 20px;
            color: $pink;
        }
        &>h3{
            font-size: 24px;
        }

        ul{
            margin-bottom: 15px;
        }
        
        li{
            list-style-type: inside;
            margin-bottom: 10px;
            margin-left: 40px;
            font-size: 18px;
        
            &:last-of-type{
                margin-bottom: 0;
            }
        }

    }

    &__header{
        position: relative;

        &-content{
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
    &__title{
        color: $white;
        display: inline-block;
        padding-left: 20px;
        border-left: 10px solid $pink;
        margin-bottom: 30px;
    }
    &__meta{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 80px;
        align-items: center;

        @media (max-width: $tablet-sizing){
            grid-template-columns: auto auto;
            grid-gap: 40px;
        }

        &-avatar{
            border-radius: 50px;
            height: 100px;
            width: 100px;
        }
        &-entry{
            color: $white;
            font-size: 18px;
        }
        &-label{
            font-size: 20px;
            color: $pink;
            font-weight: bold;
            position: relative;
            margin-bottom: 4px;
            &::after{
                position: absolute;
                content: "";
                width: 30px;
                height: 1px;
                bottom: -2px;
                left: 0;
                background-color: $pink;
            }
        }
    }

    &__featured-img{
        opacity: 0.05;

        &--container{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $black;
        }

        
    }

    &__lead{
        font-size: 24px !important;
        font-weight: 600;
        margin-bottom: 25px;
    }

    &__read-time{
        font-weight: 800;
        color: $pink;
        display: flex;
        align-items: center;
        &-icon{
            margin-right: 10px;
            color: $black;
            font-size: 20px;
        }
    }

    &__tags{
        margin-top: 40px;
    }
    &__tag{
        background-color: initial;
        transition: 250ms;
        &:hover{
            background-color: $pink;
        }
    }
}

.breadcrumbs{
    color: $grey-on-black;
    word-spacing: 10px;
    font-size: 20px;
    margin-bottom: -10px;
    margin-left: 10px;

    &__element{
        font-weight: bold;
        text-transform: uppercase;
        color: $pink;
    }
}

.post__footer{
    margin-top: 50px;
    display: grid;
    border-top: 4px solid $pink;
    grid-template-columns: auto 1fr;
    background-color: rgba(grey,0.1);
    padding: 30px;

    @media (max-width: $large-phone-sizing){
        grid-template-columns: 1fr;
        text-align: center;
    }
    &__img{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        object-fit: cover;
        object-position: bottom;
        @media (max-width: $large-phone-sizing){

            margin: auto;
        }

    }
    &__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;

        @media (max-width: $large-phone-sizing){
            padding-left: 0;
            margin-top: 10px;
        }
    }
    &__intro{
        text-transform: uppercase;
        color: $black;
        font-size: 12px;
    }
    &__name{
        font-size: 25px;
        color: $pink;
    }
    &__about{
        color: grey;
    }
    &__social{
        margin-top: 10px;
    }
}

.highlight{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

kbd{
    background-color: rgba(grey,0.2);
    padding: 5px;
    border-radius: 5px;
}