.post{
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        &>img{
            display: block;
            object-fit: cover;
            object-position: center;
            
            height: 100%;
            width: 100%;

        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($pink, 0.8);
        }
    }

    &__header{
        position: relative;

        h1{
            color: $white;
            margin-bottom: 50px;
        }

        &__content{
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__info{
        display: flex;
        font-size: 18px;
        text-transform: uppercase;
        color: rgba($white,0.7);
        &__entry{
            margin-right: 100px;
            &:last-of-type{
                margin-right: 0;
            }
            display: flex;
            align-items: center;
        }

        &__icon{
            font-size: 22px;
            color: $white;
            margin-right: 15px;
            @media (max-width: $tablet-sizing){
                margin-right: 0;
            }
            
        }

        @media (max-width: $tablet-sizing){
            flex-direction: column;
        }
    }
    &__date{

    }

    &__author{

    }

    &__category{

    }

    &__article{
        color: $white;;
        font-size: 18px;

        &>p{
            line-height: 35px;
        }

        &>h2{
            margin-top: 30px;
        }
    }

    &__share-btns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
    }

    &__footer{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto 1fr;
        background-color: rgba(grey,0.1);
        padding: 30px;
        &__img{
            border-radius: 50%;
            height: 150px;
            width: 150px;
            object-fit: cover;
            object-position: bottom;

        }
        &__details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
        }
        &__intro{
            text-transform: uppercase;
            color: $black;
            font-size: 12px;
        }
        &__name{
            font-size: 25px;
            color: $pink;
        }
        &__about{
            color: grey;
        }
        &__social{
            margin-top: 10px;
        }

    }
}

// STYLES FOR BLOG POSTS //

h2{
    font-size: 26px;
    margin-bottom: 5px;
}

p{
    margin-bottom: 15px;
    line-height: 30px;
    font-weight: 400;
    

    &:last-of-type{
        margin-bottom: 0;
    }
}

ul{
    margin-bottom: 15px;
}

li{
    list-style-type: inside;
    margin-bottom: 10px;
    margin-left: 40px;

    &:last-of-type{
        margin-bottom: 0;
    }
}