---
layout: default
---
<section class="page-not-found">
    <img class = "hero__bg hero__bg--right" src="{{ "assets/icons/mylogo.svg" | absolute_url }}" alt="">
    <img class = "hero__bg hero__bg--left" src="{{ "assets/icons/mylogo.svg" | absolute_url }}" alt="">
    <div class="wrapper wrapper--section">
        <div class="page-not-found__content">
            <h1 class = "page-not-found__heading">Oops! Looks like the page you're looking for doesn't exist.</h1>
            <h2 class="page-not-found__subheading">Let's take you back home.</h2>
            <a href="/" class="btn btn--secondary">Take me back!</a>
        </div>
    </div>
</section>