---
layout: default
---

{% include page-header.html %}
<section class="blog__featured-list">
    <div class="wrapper wrapper--section">
        <h2 data-heading="FEATURED POSTS" class="section-header section-header">the best bits.</h2>
        <div class="blog__featured-list__content">
            {% for post in site.posts limit: 4 %}
            {% if post.featured == true %}
            {% if forloop.index == 1 %}
            <div class="blog__hero-post">
                <img src="{{site.url}}{{site.blogImgLocation}}{{post.featuredImg}}" alt="" class="blog__hero-post__img">
                <div class="blog__hero-post__overlay">
                    <div class="fp-blog__meta">
                        <time datetime = '{{post.date}}'>{{ post.date | date_to_string }}</time>
                        • {{post.category}}
                    </div>
                    
                    <a href="{{post.url}}"><h3 class="blog__hero-post__title">{{post.title}}</h3></a>
                    <p class="blog__hero-post__description">{{post.description}}</p>
                    <a href="{{post.url}}" class="btn btn--tertiary fp-blog__btn">Read More</a>
                </div>
            </div>
            {% else %}
            <div class="blog__featured-post">
                <img src="{{site.url}}{{site.blogImgLocation}}{{post.featuredImg}}" alt="" class="fp-blog__img">
                <div class="fp-blog__details">
                    <div class="fp-blog__meta">
                        <time datetime = '{{post.date}}'>{{ post.date | date_to_string }}</time>
                        • {{post.category}}
                    </div>
                    
                    <a href="{{post.url}}"><h3 class="fp-blog__title">{{post.title}}</h3></a>
                    <p class="fp-blog__description">{{post.description}}</p>
                    <a href="{{post.url}}" class="btn btn--tertiary fp-blog__btn">Read More</a>
                </div>
            </div>

            
            {% endif %}

            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="blog">
    <div class="wrapper wrapper--section">
        <h2 data-heading="RECENT POSTS" class="section-header section-header--dark">what's new?</h2>
        <div class="blog__content">
            <ul class="blog__list">
                    {% for post in site.posts %}
                    {% if forloop.index > 1 %}
                        <hr class = "blog__divider">
                    {% endif %}
                        <li class = "blog__post">
                            <img class = "blog__postImg" src="{{ site.url }}{{ site.blogImgLocation}}{{post.featuredImg}}" alt="">
                            <div class="blog__postDetails">
                                <a class = "blog__postTitle" href="{{ post.url }}">
                                    <h2>{{post.title}}</h2>
                                </a>
                                <div class = "blog__postExcerpt">
                                    {{post.description}}
                                </div>
                                <a class = "btn btn--tertiary blog__postBtn" href="{{ post.url }}">Read More</a>
                                <div class="blog__postMeta">
                                    <a class="blog__postMeta-entry" href = "{{site.url}}/about">
                                        <i class="blog__postMeta-icon fas fa-user"></i>
                                        {{ post.author }}
                                    </a>
                                    <div class="blog__postMeta-entry">
                                        <i class="blog__postMeta-icon fas fa-calendar-day"></i>
                                        <time datetime = '{{post.date}}'>
                                            {{ post.date | date_to_string }}
                                        </time>
                                    </div>
                                    <a class="blog__postMeta-entry" href = "{{ site.url}}/blog/{{ post.category }}">
                                        <i class="blog__postMeta-icon fas fa-list"></i>
                                        {{ post.category }}
                                    </a>
                                    {% if post.tags %}
                                    <div class="blog__postMeta-entry">
                                        <i class="blog__postMeta-icon fas fa-tag"></i>
                                        {{ post.tags }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</section>
