---
layout: default
---

<div class="contact">
    <img class = "hero__bg hero__bg--right" src="{{ "assets/icons/mylogo.svg" | absolute_url }}" alt="">
    <img class = "hero__bg hero__bg--left" src="{{ "assets/icons/mylogo.svg" | absolute_url }}" alt="">
    <div class="wrapper wrapper--section">
        <div class="contact__content">
            <div class="contact__information">
                <h1 class="contact__heading">Contact Me</h1>
                <p class="contact__subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste quia perferendis illum vitae quaerat.</p>
                <div class="contact__social">
                    <a href = "#" class="contact__social-entry"><div class="contact__social-icon"><i class = "fab fa-linkedin-in"></i></div>Daniel Cornock</a>
                    <a href = "#" class="contact__social-entry"><div class="contact__social-icon"><i class="fab fa-twitter"></i></div>danielcornock</a>
                    <a href = "#" class="contact__social-entry"><div class="contact__social-icon"><i class="fab fa-github"></i></div>danielc7150</a>
                    <a href = "tel:07586328423" class="contact__social-entry"><div class="contact__social-icon"><i class="fas fa-phone"></i></div></i>07586328423</a>
                    <a href = "mailto:daniel_cornock@hotmail.co.uk" class="contact__social-entry contact__social-entry--wide"><div class="contact__social-icon"><i class="far fa-envelope"></i></div></i>daniel_cornock@hotmail.co.uk</a>
                </div>
                <!-- <iframe class = "contact__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155525.55550746876!2d-2.0037149429204786!3d52.47756399694619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870942d1b417173%3A0xca81fef0aeee7998!2sBirmingham!5e0!3m2!1sen!2suk!4v1559393899994!5m2!1sen!2suk" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            </div>
            <script type="text/javascript">var submitted=false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location = '{{site.url}}/thank-you-form';}"></iframe>

            <form name = "Contact Form" method = "POST" data-netlify = "true" class="contact-form" target = "hidden_iframe" onsubmit = "submitted=true">
                <label class = "contact-form__label" for="name">Name</label>
                <input type="text" class="contact-form__input contact-form__name" name = "name" required placeholder = "Full Name">
                <label class = "contact-form__label" for="email">Email</label>
                <input type="email" class="contact-form__input contact-form__email" name = "email" required placeholder = "Email Address">
                <label class = "contact-form__label" for="message">Message</label>
                <textarea name="message" cols="30" rows="10" class="contact-form__input contact-form__message" required placeholder = "Your message here..."></textarea>
                <button class = "btn btn--primary contact-form__btn" type="submit">Send Message</button>
            </form>
        </div>
    </div>


</div>