---
layout: default
---

<header class="page__header">
    <div class="page__background blog__background">
        <img src = "{{ site.url }}{{ site.bgImgLocation}}{{page.featuredImg}}" alt="">
    </div>
    <div class="wrapper wrapper--section">
        <div class="portfolio__header__content">
            <h1>Contact Me</h1>
            <div class="page__header__subtext">Whether you'd like a website, to collaborate with me, or anything. I'd love to hear from you!</div>
        </div>
    </div>
</header>