---
layout: default
---

{% include page-header.html %}
<section class="portfolio" id="fp-portfolio">
    <div class="wrapper wrapper--section">

        <div class="fp-portfolio__content">
            {% for work in site.portfolio %}
            <div class="portfolio__entry">
                <img src="{{site.url}}{{ work.img }}" alt="" class="img--responsive portfolio__img">
                <div class="portfolio__info">
                    <h3 class = "portfolio__title">{{ work.type }}</h3>
                    <a href = "https://{{work.link}}" class="portfolio__link">{{ work.link }}</a>
                    <p class="portfolio__description">{{ work.description }}</p>
                    {% if work.stacks %}
                    <div class = "blog-entry__tags portfolio__tags">
                        {% for stack in work.stacks %}
                        <div class="blog-entry__tag portfolio__tag">
                            {{ stack }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                
            </div>
            {% endfor %} 
        </div>
    </div>
</section>