---
layout: default
---

{% include page-header.html %}
<section class="fp-portfolio" id="fp-portfolio">
    <div class="wrapper wrapper--section">

        <div class="fp-portfolio__content">
            {% for work in site.portfolio %}
            <div class="fp-portfolio__entry">
                <img src="{{site.url}}{{ work.img }}" alt="" class="fp-portfolio__img">
                <div class="fp-portfolio__overlay">
                    <h3 class = "fp-portfolio__title">{{ work.type }}</h3>
                    <a href = "https://{{work.link}}" class="fp-portfolio__description">{{ work.link }}</a>
                    <a href="#" class="btn btn--primary fp-portfolio__btn">Find out more</a>
                </div>
                {% if work.stacks %}
                <div class = "blog-entry__tags blog-entry__tags--onImage">
                    {% for stack in work.stacks %}
                    <div class="blog-entry__tag">
                        {{ stack }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %} 
        </div>
    </div>
</section>