---
layout: default
---

{% include header-blog.html %}
<header class="post-header">
    <div class="wrapper wrapper--section">
        <div class="post-header__content">
            <img class = "img--responsive post-header__background" src = " {{ site.url }}{{ site.blogImgLocation}}{{page.featuredImg}}" alt="">
            <div class="post__meta">
                <time datetime = '{{post.date}}'>{{ page.date | date_to_string }}</time>
            </div>
            <h1 class = "post__title">{{page.title}}</h1>
        </div>
    </div>
    <!-- STARTED CHANGING THE ONE BEFORE NOW. MOVED H1 -->
</header>
<div class="post-header__bottom">
    <div class="wrapper--blog post-header__bottom__content">
        {% include breadcrumbs.html %}
        <div class="post-header__read-time" title="Estimated read time">
            <i class="post-header__read-time__icon far fa-clock"></i>     
            
            {% assign words = content | number_of_words %}
            {% if words < 360 %}
                1 min
            {% else %}
                {{ words | divided_by:180 }} mins
            {% endif %}
        </div>
    </div>
</div>
</div>
<section class="post__content">
    <div class="wrapper wrapper--blog">
        

        <article class="post__article">
            {{ content }}
            
        </article>
        {% if page.tags %}
        <div class = "blog-entry__tags blog-entry__tags--post">
            {% for tag in page.tags %}
            <div class="blog-entry__tag blog-entry__tag--post">
                #{{ tag }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% include written-by-dan.html %}

        

        
    </div>
    <div class="wrapper wrapper--blog wrapper--disqus">
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://danielcornock.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    
</section>

<script id="dsq-count-scr" src="//danielcornock.disqus.com/count.js" async></script>

