---
layout: default
---

{% include header-blog.html %}
<div class="wrapper wrapper--blog">
<header class="post-header">
    <img class = "img--responsive post-header__background" src = " {{ site.url }}{{ site.blogImgLocation}}{{page.featuredImg}}" alt="">

    
    <div class="post__meta">
        <time datetime = '{{post.date}}'>{{ page.date | date_to_string }}</time>
            • {{page.author}} • {{page.category}}
        <!-- <div class="post__meta post__author">
            <i class="post__info__icon fas fa-user"></i>
            {{ page.author }}
        </div>
        <div class="post__info__entry post__date">
            <i class="post__info__icon fas fa-calendar-day"></i>
            <time datetime = '{{page.date}}'>
                {{ page.date | date_to_string }}
            </time>
        </div>
        <div class="post__info__entry post__category">
            <i class="post__info__icon fas fa-list"></i>
            {{ page.category }}
        </div> -->
    </div>
    <h1 class = "post__title">{{page.title}}</h1>
        
    
</header>
</div>
<section class="post__content">
    <div class="wrapper wrapper--blog">
            {% include breadcrumbs.html %}

        <article class="post__article">
            {{ content }}
            
        </article>
        <div class="post__share-btns">
            <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A4000%2Fblog%2Ftutorials%2Fcss-positioning&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="danielcornock" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        {% include written-by-dan.html %}

        

        
    </div>
    <div class="wrapper wrapper--blog wrapper--disqus">
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://danielcornock.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    
</section>