---
layout: default
---

<article class="post">
    <!-- HEADER START -->
    <header class="post__header">
        <span class = "post__featured-img--container"><img class = "img--responsive post__featured-img" src = " {{ site.url }}{{ site.blogImgLocation}}{{page.featuredImg}}" alt=""></span>
        <div class="wrapper wrapper--section">
            <div class="post__header-content">
                <h1 class = "post__title">
                    {% include breadcrumbs.html %}
                    {{ page.title }}
                </h1>
                <div class="post__meta">
                    <img src="{{site.url}}{{site.staticImgLocation}}/headshot.jpg" alt="" class="img--responsive post__meta-avatar">
                    <div class="post__meta-entry post__meta-author">
                        <div class="post__meta-label">Author</div>
                        {{ page.author }}
                    </div>
                    <div class="post__meta-entry post__meta-published">
                        <div class="post__meta-label">Published</div>
                        <time datetime = '{{post.date}}'>{{ page.date | date_to_string }}</time>
                    </div>
                    <div class="post__meta-entry post__meta-time">
                        <div class="post__meta-label">Reading Time</div>
                        {% assign words = content | number_of_words %}
                        {% if words < 360 %}
                            1 min
                        {% else %}
                            {{ words | divided_by:180 }} mins
                        {% endif %}
                    </div>
                </div>
                {% if page.tags %}
                <div class = "blog-entry__tags post__tags">
                    {% for tag in page.tags %}
                    <div class="blog-entry__tag post__tag">
                        #{{ tag }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- MAIN CONTENT START -->
    <div class="wrapper wrapper--section wrapper--blog">
        <section class="post__content">
            <p class="post__lead">{{page.description}}</p>
        {{ content }}

        {% include written-by-dan.html %}
    </div>
    <!-- MAIN CONTENT END -->
</article>
<section class="comments">
    <h2 class = "comments__title">Leave a comment!</h2>
    <div class="wrapper wrapper--blog wrapper--disqus">
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://danielcornock.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</section>

<script id="dsq-count-scr" src="//danielcornock.disqus.com/count.js" async></script>

